:root {
    --font-size: 18px;
}

.textBox {
    box-sizing: border-box;
    font: var(--font-size) 'Noto Sans', sans-serif;
    border-radius: 8px;
    padding: 8px;
    white-space: pre-wrap;
}

.textBox:focus {
    outline: 2px solid red;
}

@keyframes blink {
    50% { opacity: 0; }
}

.carret {
    background-color: black;
    width: 2px;
    height: calc(var(--font-size) + 2px);
    position: absolute;
    animation: blink 1s step-start infinite;
    pointer-events: none;
}

.textBox p {
    min-height: var(--font-size);
    width: fit-content;
}

.textbox-paragraph-element {
    width: fit-content;
    min-height: var(--font-size);
}